.Templates-Title {
    margin-left: 49rem;
    margin-top: 4.50rem;
    position: absolute;
    font-size: 1.50rem;
    font-weight: 500;
}
.Templates-Container {
    position: absolute;
    margin-top: 6.40rem;
}
@media screen and (max-width: 1189px) {
    .Templates-Title {
        margin-left: 34rem;
        margin-top: 4.50rem;
        position: absolute;
        font-size: 1.50rem;
        font-weight: 500;
    }
}
@media screen and (max-width: 1177px) {
    .Templates-Container {
        position: absolute;
        margin-top: 6.40rem;
        width: 1px;
        margin-left: 1px;
        background-color: aqua;
    }
}
@media screen and (max-width: 1058px) {
    .Templates-Title {
        margin-left: 30rem;
        margin-top: 4.50rem;
        position: absolute;
        font-size: 1.50rem;
        font-weight: 500;
    }
}
@media screen and (max-width: 820px) {
    .Templates-Title {
        margin-left: 27rem;
        margin-top: 4.50rem;
        position: absolute;
        font-size: 1.50rem;
        font-weight: 500;
    }
}
@media screen and (max-width: 775px) {
    .Templates-Title {
        margin-left: 10.70rem;
        margin-top: 4.50rem;
        position: absolute;
        font-size: 1.50rem;
        font-weight: 500;
    }
}
@media screen and (max-width: 585px) {
    .Templates-Title {
        margin-left: 6rem;
        margin-top: 4.50rem;
        position: absolute;
        font-size: 1.50rem;
        font-weight: 500;
    }
}
