.Templates-Title {
    margin-left: 49rem;
    margin-top: 4.50rem;
    position: absolute;
    font-size: 1.50rem;
    font-weight: 500;
}
.Templates-Container {
    position: absolute;
    margin-top: 6.40rem;
}
