#Brollo-Cards-Section .Brollo-Cards-Container {
    display: flex;
    position: relative;
    top: 129px;
}
#Brollo-Cards-Section .Add-Remove-Cards {
    display: flex;
}
#Brollo-Cards-Section .Add-Remove-Cards p {
    margin-left: 15px;
    color: ghostwhite;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    height: 25px;
}
#Brollo-Cards-Section .Add-Another-List {
    margin-left: 22px;
    margin-top: 30px;
}
#Brollo-Cards-Section .Add-Another-List input[type="text"] {
    height: 50px;
    border-radius: 10px;
    border-style: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}
#Brollo-Cards-Section .Add-Another-List input[type="text"]:focus {
    border-bottom: 2px solid #6b9ce8;
    outline: none;
}
#Brollo-Cards-Section .Remove-List {
    margin-top: 30px;
}