#Brollo-Cards-Section .Brollo-Cards-Container {
    display: flex;
    position: relative;
    top: 129px;
}
#Brollo-Cards-Section .Add-Remove-Cards {
    display: flex;
}
#Brollo-Cards-Section .Add-Remove-Cards p {
    margin-left: 15px;
    color: ghostwhite;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    height: 25px;
}
#Brollo-Cards-Section .Add-Another-List {
    margin-left: 22px;
    margin-top: 30px;
}
#Brollo-Cards-Section .Add-Another-List input {
    height: 50px;
}
#Brollo-Cards-Section .Add-Another-List button {
    height: 50px;
}
#Brollo-Cards-Section .Remove-List {
    margin-top: 30px;
}