#Task-Cards-Section .Task-Cards-Container {
    width: 290px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    display: inline-block;
}
#Task-Cards-Section .Task-Cards-Content {
    background-color: wheat;
    border-radius: 10px;
    padding: 10px;
}
#Task-Cards-Section .Add-Remove-Task {
    display: flex;
    gap: 10px;
}
#Task-Cards-Section .Add-Task {
    cursor: pointer;
}
#Task-Cards-Section .fa-plus {
    font-size: 18px;
    color: grey;
}
#Task-Cards-Section .Add-Card {
    color: grey;
    font-size: 18px;
    font-weight: 500;
}