#Task-Cards-Section .Task-Cards-Container {
    width: 310px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    display: inline-block;
}
#Task-Cards-Section .Task-Cards-Header {
    color: black;
    font-size: 1.50rem;
    font-weight: 500;
    background-color: #EBECF0;
    position: relative;
    z-index: 10;
    border-radius: 10px;
}
#Task-Cards-Section .Task-Cards-Header p {
    margin-left: 8px;
}
#Task-Cards-Section .Task-Cards-Content {
    background-color: #EBECF0;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    bottom: 35px;
}
#Task-Cards-Section .Add-Remove-Task {
    display: flex;
    gap: 10px;
    position: relative;
    bottom: 35px;
}
#Task-Cards-Section .Add-Task {
    cursor: pointer;
    color: ghostwhite;
    font-size: 18px;
    font-weight: 500;
}
#Task-Cards-Section .fa-plus {
    font-size: 18px;
    color: ghostwhite;
}

