.formInput {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.signup-section {
    background: linear-gradient(82.54deg, #447A7A 29.22%, #F1B883 70.14%);
}

input {
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid gray;
}

label {
    font-size: 15px;
    color: black;
}

button {
    width: 300px;
}

.formInput > span {
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
}

input:invalid[focused="true"] {
    border: 1px solid red;
}

input:invalid[focused="true"]~span {
    display: block;
}