#Dashboard-Navbar-Section {
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 0px;
}
#Dashboard-Navbar-Section .Navbar-Main-Container {
    background-color: whitesmoke;
    width: 100%;
    height: 55px;
    position: relative;
    bottom: 40px;
}
#Dashboard-Navbar-Section .Navbar-Sidebar {
    position: relative;
    top: 14px;
}
#Dashboard-Navbar-Section .Navbar-Title {
    display: flex;
    position: relative;
    left: 50px;
    bottom: 10px;
    width: 100px;
    height: 40px;
}
#Dashboard-Navbar-Section .Narbar-Blue-B {
    font-size: 2rem;
    position: relative;
    bottom: 15px;
    color: #3E89F9;
    font-weight: 500;
}
#Dashboard-Navbar-Section .Navbar-Rollo {
    font-size: 1.60rem;
    position: relative;
    bottom: 8px;
    font-weight: 500;
}
#Dashboard-Navbar-Section .dropdown {
    z-index: 10;
    font-size: 1.20rem;
    font-weight: 500;
    margin-left: 30px;
    transition: all 0.2s ease-in-out;
}
#Dashboard-Navbar-Section .dropdown:hover {
    color: #3E89F9;
}
#Dashboard-Navbar-Section .Navbar-Item {
    display: flex;
    position: relative;
    bottom: 50px;
    left: 120px;
    width: 100px;
}
#Dashboard-Navbar-Section  .Navbar-Create-Container {
    font-size: 1.20rem;
    font-weight: 500;
    cursor: pointer;
    z-index: 10;
}
#Dashboard-Navbar-Section .Navbar-Create {
    position: relative;
    left: 25px;
    transition: all 0.2s ease-in-out;
}
#Dashboard-Navbar-Section .Navbar-Create:hover {
    color: #3E89F9;
}
#Dashboard-Navbar-Section .form-control {
    width: 200px;
    position: relative;
    bottom: 5px;
    left: 400px;
    border-style: none;
}
#Dashboard-Navbar-Section .Navbar-Search {
    position: relative;
    right: 40px;
}
#Dashboard-Navbar-Section .fa-magnifying-glass {
   font-size: 1.20rem;
   background-color: #3E89F9;
   padding: 9px;
   z-index: 10;
   position: relative;
   left: 405px;
   bottom: 5px;
   color: white;
}
#Dashboard-Navbar-Section .Navbar-Search-Icon {
    z-index: 10;
}
#Dashboard-Navbar-Section .Navbar-Icons-Container {
    display: flex;
    position: relative;
    left: 350px;
    top: 6px;
}
#Dashboard-Navbar-Section .Navbar-Icons {
    margin-left: 20px;
    font-size: 1.20rem;
    z-index: 10;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
#Dashboard-Navbar-Section .Navbar-Icons:hover {
    color: #3E89F9;
}
@media screen and (max-width: 1189px) {
    #Dashboard-Navbar-Section .Navbar-Search {
        position: relative;
        right: 300px;
    }
    #Dashboard-Navbar-Section .Navbar-Icons-Container {
        display: flex;
        position: relative;
        left: 100px;
        top: 6px;
    }
}
@media screen and (max-width: 1127px) {
    #Dashboard-Navbar-Section .Navbar-Search {
        position: relative;
        right: 350px;
    }
    #Dashboard-Navbar-Section .Navbar-Icons-Container {
        display: flex;
        position: relative;
        left: 50px;
        top: 6px;
    }
}
@media screen and (max-width: 1077px) {
    #Dashboard-Navbar-Section .dropdown {
        z-index: 10;
        font-size: 1.20rem;
        font-weight: 500;
        margin-left: 15px;
    }
}
@media screen and (max-width: 1022px) {
    #Dashboard-Navbar-Section .dropdown {
        z-index: 10;
        font-size: 1.20rem;
        font-weight: 500;
        margin-left: 10px;
    }
    #Dashboard-Navbar-Section .form-control {
        width: 150px;
        position: relative;
        bottom: 5px;
        left: 400px;
        border-style: none;
    }
}