#Home-Navbar-Section .Home-Navbar {
    height: 3.10rem;
    position: fixed;
    width: 100%;
    z-index: 50;
}
#Home-Navbar-Section .Home-Brollo {
    position: relative;
    bottom: 13px;
}
#Home-Navbar-Section .Blue-Home-b {
    position: absolute;
    font-size: 3.30rem;
    color: #3E89F9;
}
#Home-Navbar-Section .Rollo-Home {
    position: relative;
    left: 32px;
    top: 22px;
    color: #1B2134;
    font-size: 1.80rem;
}
#Home-Navbar-Section .Nav-Home {
    color: #1B2134 !important;
    font-size: 1.45rem;
    font-weight: 600;
    position: relative;
    top: 3px;
    left: 140px;
    transition: all 0.2s ease-in-out;
}
#Home-Navbar-Section .Nav-Home:hover {
    color: #3E89F9 !important;
    transform: scale(1.2);
}
#Home-Navbar-Section .Nav-Features {
    color: #1B2134 !important;
    font-size: 1.45rem;
    font-weight: 600;
    position: relative;
    top: 3px;
    left: 160px;
    transition: all 0.2s ease-in-out;
}
#Home-Navbar-Section .Nav-Features:hover {
    color: #3E89F9 !important;
    transform: scale(1.2);
}
#Home-Navbar-Section .Nav-Pricing {
    color: #1B2134 !important;
    font-size: 1.45rem;
    font-weight: 600;
    position: relative;
    top: 3px;
    left: 180px;
    transition: all 0.2s ease-in-out;
}
#Home-Navbar-Section .Nav-Pricing:hover {
    color: #3E89F9 !important;
    transform: scale(1.2);
}
#Home-Navbar-Section .Nav-Plans {
    color: #1B2134 !important;
    font-size: 1.45rem;
    font-weight: 600;
    position: relative;
    top: 3px;
    left: 200px;
    transition: all 0.2s ease-in-out;
}
#Home-Navbar-Section .Nav-Plans:hover {
    color: #3E89F9 !important;
    transform: scale(1.2);
}
#Home-Navbar-Section .Nav-Resources {
    color: #1B2134 !important;
    font-size: 1.45rem;
    font-weight: 600;
    position: relative;
    top: 3px;
    left: 220px;
    transition: all 0.2s ease-in-out;
}
#Home-Navbar-Section .Nav-Resources:hover {
    color: #3E89F9 !important;
    transform: scale(1.2);
}
#Home-Navbar-Section .Nav-Login {
    color: #1B2134 !important;
    font-size: 1.45rem;
    font-weight: 600;
    position: relative;
    top: 3px;
    left: 42rem;
    padding: 6px;
    transition: all 0.2s ease-in-out;
}
#Home-Navbar-Section .Nav-Login:hover {
    color: #3E89F9 !important;
    transform: scale(1.2);
}
#Home-Navbar-Section .fa-user {
    font-size: 1.20rem;
    position: relative;
    bottom: 2px;
}
#Home-Navbar-Section .Nav-Get-Brollo {
    font-size: 1.45rem;
    font-weight: 600;
    position: relative;
    color: #1B2134 !important;
    width: 155px;
    height: 100px;
    left: 42rem;
    top: 3px;
    transition: all 0.2s ease-in-out;
}
#Home-Navbar-Section .Nav-Get-Brollo:hover {
    color: #3E89F9 !important;
    transform: scale(1.2);
}
@media screen and (max-width: 1189px) {
    #Home-Navbar-Section .Nav-Login {
        color: #1B2134 !important;
        font-size: 1.45rem;
        font-weight: 600;
        position: relative;
        top: 3px;
        left: 27rem;
        padding: 6px;
    }
    #Home-Navbar-Section .Nav-Get-Brollo {
        font-size: 1.45rem;
        font-weight: 600;
        position: relative;
        color: #1B2134 !important;
        width: 155px;
        height: 50px;
        left: 27rem;
        top: 3px;
    }
}
@media screen and (max-width: 1161px) {
    #Home-Navbar-Section .Nav-Login {
        color: #1B2134 !important;
        font-size: 1.45rem;
        font-weight: 600;
        position: relative;
        top: 3px;
        left: 25rem;
        padding: 6px;
    }
    #Home-Navbar-Section .Nav-Get-Brollo {
        font-size: 1.45rem;
        font-weight: 600;
        position: relative;
        color: #1B2134 !important;
        width: 155px;
        height: 50px;
        left: 25rem;
        top: 3px;
    }
}
@media screen and (max-width: 1168px) {
    #Home-Navbar-Section .Nav-Login {
        color: #1B2134 !important;
        font-size: 1.45rem;
        font-weight: 600;
        position: relative;
        top: 3px;
        left: 23rem;
        padding: 6px;
    }
    #Home-Navbar-Section .Nav-Get-Brollo {
        font-size: 1.45rem;
        font-weight: 600;
        position: relative;
        color: #1B2134 !important;
        width: 155px;
        height: 50px;
        left: 23rem;
        top: 3px;
    }
}
@media screen and (max-width: 1128px) {
    #Home-Navbar-Section .Nav-Login {
        color: #1B2134 !important;
        font-size: 1.45rem;
        font-weight: 600;
        position: relative;
        top: 3px;
        left: 21rem;
        padding: 6px;
    }
    #Home-Navbar-Section .Nav-Get-Brollo {
        font-size: 1.45rem;
        font-weight: 600;
        position: relative;
        color: #1B2134 !important;
        width: 155px;
        height: 50px;
        left: 21rem;
        top: 3px;
    }
} 
@media screen and (max-width: 1062px) {
    #Home-Navbar-Section .Nav-Login {
        color: #1B2134 !important;
        font-size: 1.45rem;
        font-weight: 600;
        position: relative;
        top: 3px;
        left: 17rem;
        padding: 6px;
    }
    #Home-Navbar-Section .Nav-Get-Brollo {
        font-size: 1.45rem;
        font-weight: 600;
        position: relative;
        color: #1B2134 !important;
        width: 155px;
        height: 50px;
        left: 17rem;
        top: 3px;
    }
}
@media screen and (max-width: 1067px) {
    #Home-Navbar-Section .Nav-Login {
        color: #1B2134 !important;
        font-size: 1.45rem;
        font-weight: 600;
        position: relative;
        top: 3px;
        left: 16rem;
        padding: 6px;
    }
    #Home-Navbar-Section .Nav-Get-Brollo {
        font-size: 1.45rem;
        font-weight: 600;
        position: relative;
        color: #1B2134 !important;
        width: 155px;
        height: 50px;
        left: 16rem;
        top: 3px;
    }
}
@media screen and (max-width: 1001px) {
    #Home-Navbar-Section.Nav-Login {
        color: #1B2134 !important;
        font-size: 1.45rem;
        font-weight: 600;
        position: relative;
        top: 3px;
        left: 14rem;
        padding: 6px;
    }
    #Home-Navbar-Section .Nav-Get-Brollo {
        font-size: 1.45rem;
        font-weight: 600;
        position: relative;
        color: #1B2134 !important;
        width: 155px;
        height: 50px;
        left: 14rem;
        top: 3px;
    }
}
@media screen and (max-width: 1037px) {
    #Home-Navbar-Section .Nav-Home {
        color: #1B2134 !important;
        font-size: 1.45rem;
        font-weight: 600;
        position: relative;
        top: 3px;
        left: 110px;
    }
    #Home-Navbar-Section .Nav-Features {
        color: #1B2134 !important;
        font-size: 1.45rem;
        font-weight: 600;
        position: relative;
        top: 3px;
        left: 130px;
    }
    #Home-Navbar-Section .Nav-Pricing {
        color: #1B2134 !important;
        font-size: 1.45rem;
        font-weight: 600;
        position: relative;
        top: 3px;
        left: 150px;
    }
    #Home-Navbar-Section .Nav-Plans {
        color: #1B2134 !important;
        font-size: 1.45rem;
        font-weight: 600;
        position: relative;
        top: 3px;
        left: 170px;
    }
    #Home-Navbar-Section .Nav-Resources {
        color: #1B2134 !important;
        font-size: 1.45rem;
        font-weight: 600;
        position: relative;
        top: 3px;
        left: 190px;
    }
}
@media screen and (max-width: 991px) {
    #Home-Navbar-Section .Home-Brollo {
        position: relative;
        bottom: 24px;
    }
    #Home-Navbar-Section .Blue-b {
        position: absolute;
        font-size: 3.30rem;
        color: #3E89F9;
    }
    #Home-Navbar-Section .Rollo {
        position: relative;
        left: 10px;
        top: 22px;
        color: #1B2134;
        font-size: 1.80rem;
    }
    #Home-Navbar-Section .Nav-Home {
        color: #1B2134 !important;
        font-size: 1.45rem;
        font-weight: 600;
        position: absolute;
        margin-top: 6px;
        margin-left: 30px;
    }
    #Home-Navbar-Section .Nav-Features {
        color: #1B2134 !important;
        font-size: 1.45rem;
        font-weight: 600;
        position: absolute;
        margin-top: 6px;
        margin-left: 90px;
    }
    #Home-Navbar-Section .Nav-Pricing {
        color: #1B2134 !important;
        font-size: 1.45rem;
        font-weight: 600;
        position: absolute;
        margin-top: 6px;
        margin-left: 170px;
    }
    #Home-Navbar-Section .Nav-Plans {
        color: #1B2134 !important;
        font-size: 1.45rem;
        font-weight: 600;
        position: absolute;
        margin-top: 6px;
        margin-left: 240px;
    }
    #Home-Navbar-Section .Nav-Resources {
        color: #1B2134 !important;
        font-size: 1.45rem;
        font-weight: 600;
        position: absolute;
        margin-top: 6px;
        margin-left: 290px;
    }
    #Home-Navbar-Section .Nav-Login {
        color: #1B2134 !important;
        font-size: 1.45rem;
        font-weight: 600;
        position: absolute;
        padding: 6px;
        margin-left: 490px;
    }
    #Home-Navbar-Section .Nav-Get-Brollo {
        font-size: 1.45rem;
        font-weight: 600;
        position: absolute;
        color: #1B2134 !important;
        width: 155px;
        height: 50px;
        padding: 6px;
        margin-left: 570px;
    }
}
@media screen and (max-width: 930px) {
    #Home-Navbar-Section .Nav-Login {
        color: #1B2134 !important;
        font-size: 1.45rem;
        font-weight: 600;
        position: absolute;
        padding: 6px;
        margin-left: 390px;
    }
    #Home-Navbar-Section .Nav-Get-Brollo {
        font-size: 1.45rem;
        font-weight: 600;
        position: absolute;
        color: #1B2134 !important;
        width: 155px;
        height: 50px;
        padding: 6px;
        margin-left: 470px;
    }
}