.UserName {
    position: absolute;
    font-weight: 500;
    font-size: 1.80rem;
    margin-left: 40rem;
}
.Welcome {
    position: absolute;
    font-weight: 500;
    font-size: 1.40rem;
    margin-left: 36.50rem;
    margin-top: 2rem;
}
.Dashboard-Projects {
    position: absolute;
}
@media screen and (max-width: 1189px) {
    .UserName {
        position: absolute;
        font-weight: 500;
        font-size: 1.80rem;
        margin-left: 30rem;
    }
    .Welcome {
        position: absolute;
        font-weight: 500;
        font-size: 1.40rem;
        margin-left: 26.50rem;
        margin-top: 2rem;
    }
    .Dashboard-Projects {
        position: absolute;
    }
}
@media screen and (max-width: 994px) {
    .UserName {
        position: absolute;
        font-weight: 500;
        font-size: 1.80rem;
        margin-left: 25rem;
    }
    .Welcome {
        position: absolute;
        font-weight: 500;
        font-size: 1.40rem;
        margin-left: 21.50rem;
        margin-top: 2rem;
    }
}
@media screen and (max-width: 893px) {
    .UserName {
        position: absolute;
        font-weight: 500;
        font-size: 1.80rem;
        margin-left: 20rem;
    }
    .Welcome {
        position: absolute;
        font-weight: 500;
        font-size: 1.40rem;
        margin-left: 16.50rem;
        margin-top: 2rem;
    }
}
@media screen and (max-width: 775px) {
    .Dashboard-Template {
        position: absolute;
        margin-top: 35rem;
        height: 650px;
        width: 600px;
    }
    .Dashboard-Projects {
        position: absolute;
    }
}
@media screen and (max-width: 557px) {
    .UserName {
        position: absolute;
        font-weight: 500;
        font-size: 1.80rem;
        margin-left: 18rem;
    }
    .Welcome {
        position: absolute;
        font-weight: 500;
        font-size: 1.40rem;
        margin-left: 14rem;
        margin-top: 2rem;
    }
}
@media screen and (max-width: 414px) {
    .UserName {
        position: absolute;
        font-weight: 500;
        font-size: 1.80rem;
        margin-left: 18rem;
        width: 300px;
    }
    .Welcome {
        position: absolute;
        font-weight: 500;
        font-size: 1.40rem;
        margin-left: 14rem;
        margin-top: 2rem;
        width: 300px;
    }
}
@media screen and (max-width: 375px) {
    .UserName {
        position: absolute;
        font-weight: 500;
        font-size: 1.80rem;
        margin-left: 18rem;
        width: 300px;
    }
    .Welcome {
        position: absolute;
        font-weight: 500;
        font-size: 1.40rem;
        margin-left: 14rem;
        margin-top: 2rem;
        width: 300px;
    }
}