#Dashboard-Section .UserName {
    position: absolute;
    font-weight: 500;
    font-size: 1.80rem;
    margin-left: 40rem;
}
#Dashboard-Section .Welcome {
    position: absolute;
    font-weight: 500;
    font-size: 1.40rem;
    margin-left: 36.50rem;
    margin-top: 2rem;
}
#Dashboard-Section .Dashboard-Projects {
    position: absolute;
}
#Dashboard-Section .DashBoard-Navbar {
    position: relative;
    top: 30px;
}
@media screen and (max-width: 1189px) {
    #Dashboard-Section .UserName {
        position: absolute;
        font-weight: 500;
        font-size: 1.80rem;
        margin-left: 30rem;
    }
    #Dashboard-Section .Welcome {
        position: absolute;
        font-weight: 500;
        font-size: 1.40rem;
        margin-left: 26.50rem;
        margin-top: 2rem;
    }
    #Dashboard-Section .Dashboard-Projects {
        position: absolute;
    }
}
@media screen and (max-width: 994px) {
    #Dashboard-Section .UserName {
        position: absolute;
        font-weight: 500;
        font-size: 1.80rem;
        margin-left: 25rem;
    }
    #Dashboard-Section .Welcome {
        position: absolute;
        font-weight: 500;
        font-size: 1.40rem;
        margin-left: 21.50rem;
        margin-top: 2rem;
    }
}
@media screen and (max-width: 893px) {
    #Dashboard-Section .UserName {
        position: absolute;
        font-weight: 500;
        font-size: 1.80rem;
        margin-left: 20rem;
    }
    #Dashboard-Section .Welcome {
        position: absolute;
        font-weight: 500;
        font-size: 1.40rem;
        margin-left: 16.50rem;
        margin-top: 2rem;
    }
}
@media screen and (max-width: 775px) {
    #Dashboard-Section .Dashboard-Template {
        position: absolute;
        margin-top: 35rem;
        height: 650px;
        width: 600px;
    }
    #Dashboard-Section .Dashboard-Projects {
        position: absolute;
    }
}
@media screen and (max-width: 768px) {
    #Dashboard-Section .UserName {
        position: absolute;
        font-weight: 500;
        font-size: 1.80rem;
        margin-left: 16.50rem;
    }
    #Dashboard-Section .Welcome {
        position: absolute;
        font-weight: 500;
        font-size: 1.40rem;
        margin-left: 12.50rem;
        margin-top: 2rem;
    }
}
@media screen and (max-width: 585px) {
    #Dashboard-Section .UserName {
        position: absolute;
        font-weight: 500;
        font-size: 1.80rem;
        margin-left: 11rem;
    }
    #Dashboard-Section .Welcome {
        position: absolute;
        font-weight: 500;
        font-size: 1.40rem;
        margin-left: 7rem;
        margin-top: 2rem;
    }
}
@media screen and (max-width: 414px) {
    #Dashboard-Section .UserName {
        position: absolute;
        font-weight: 500;
        font-size: 1.80rem;
        margin-left: 12rem;
        width: 300px;
    }
    #Dashboard-Section .Welcome {
        position: absolute;
        font-weight: 500;
        font-size: 1.40rem;
        margin-left: 8rem;
        margin-top: 2rem;
        width: 300px;
    }
}
@media screen and (max-width: 375px) {
    #Dashboard-Section .UserName {
        position: absolute;
        font-weight: 500;
        font-size: 1.80rem;
        margin-left: 11rem;
        width: 300px;
    }
    #Dashboard-Section .Welcome {
        position: absolute;
        font-weight: 500;
        font-size: 1.40rem;
        margin-left: 7rem;
        margin-top: 2rem;
        width: 300px;
    }
}