
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hero-banner{
    background-image: url('../../resources/subpics/home-background-pic.png');
    background-repeat: no-repeat;
    background-size: 100% 75vh;
    height: 75vh;
}

.hero-banner .left-section > h1{
    font-size: 56px;
    font-weight: 700;
}

.hero-banner .left-section > h3{
    font-weight: 300;
}

@media screen and (max-width: 1000px) {
    .hero-banner .left-section > h1{
        font-size: 48px;
        font-weight: 600;
    }
}

.hero-banner .left-section .btn-primary{
    background-color: #3E89F9;
    border: #3E89F9 solid 1px;
}

.hero-banner .left-section .btn-primary:hover{
    background-color: #3e567b;
    border: #3e567b solid 1px;

}

.powerhouse{
    background: linear-gradient(180deg, rgba(130, 210, 236, 0) 26.56%, rgba(63, 193, 222, 0.26) 73.44%);
}

.board-section{
    margin-right: 1rem;
    width: 340px;
}

.board{
    background: #FFFFFF;
    border-radius: 15px 0px 0px 15px;
    border: none;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    height: 160px;
    padding: 12px;
    text-align: left;
    transition: 0.9s ease;
    border-left: 15px solid rgba(110, 157, 227, 0);
}

.board-selected{
    border-left: 15px solid #6e9de3;
    box-shadow: -1px 4px 12px 2px rgba(0, 0, 0, 0.22);
    border-radius: 15px 0px 0px 15px;
}

.slide-section{
    width: 100%;
    padding: 2rem;
    background: linear-gradient(6.96deg, #F1B883 5.44%, #447A7A 90.04%);
    border-radius: 20px;
}

.test{
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 3rem;
    border-radius: 20px;
    transition: 0.5s ease;
}

.action-box{
    background: #FFFFFF;
    border-top: 50px solid #E9713D;
    box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.25);
    border-radius: 15px 15px 0px 0px;   
    width: 426px;
    height: 208px;
    padding: 1rem;
    text-align: left;
}

.action-box h4{
    width: 100%;
}

.explore-cases{
    border: #3E89F9 1px solid;
}

.explore-cases:hover{
    color: white;
    background: #3E89F9;
    border: #3E89F9 1px solid;
}

.integration-section{
    position: relative;
    color: white;
    background: linear-gradient(84.49deg, #E283F1 18.02%, #E9713D 83.54%);
}

.integration-section > h5 {
    font-weight: 400;
    font-size: 18px;
}

.card-integration{
    color: #3e567b;
    width: 256px;
    margin: 2rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);    
}

.card-integration > h1{
    font-size: 1.8rem;
    font-weight: 700;
}

.card-integration > h4 {
    font-size: 1rem;
}

.card-integration > img{
    width: 96px;
}

.browse-btn{
    border: #3E89F9 2px solid;
}

.browse-btn:hover{
    color: white;
    background: #3E89F9;
    border: #3E89F9 2px solid;
}

.carousel-container{
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 1280px;
    height: 480px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.carousel-container > p{
    color: #2d323b;
    font-size: 1.5rem;
    margin: 2rem;
}

.carousel-container > h1{
    background: linear-gradient(84.49deg, #6237DA 18.02%, #E283F1 83.54%);
    font-size: 3rem;
    padding-top: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    height: 100%;
    width: 75%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.carousel-points-container{
    position: absolute;
    top: 110%;
    left: 50%;
    display: flex;
    align-content: center;
    justify-content: flex-end;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
}

.carousel-points{
    position: relative;
    border-radius: 25px;
    width: 14px !important;
    height: 24px !important;
    background-color: #2d323b;
    margin: 0.25rem;
    transition: 0.2s ease;
}



.carousel-points:hover{
    background-color: #507dc2;
}

.active-point{
    border-radius: 25px;
    width: 100px !important;
    background-color: #3E89F9;
}

.carousel-points > input{
    position: absolute;
    margin: 0;
    width: 24px !important;
    height: 24px !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #3E89F9;

}


.angle-btn button{
    width: 50%;
    border: 0;
}

.angle-btn button i{
    font-size: 24px;
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
}

.angle-btn button:hover i{
    color: #3E89F9;
}


.pricing-section{
    margin-top: 35rem;
}

.pricing-section > h1 {
    font-weight: 800 !important;
}

.pricing-section > h4 {
    font-weight: 400 !important;
}

.box-price > span{
    display: inherit !important;
}


.get-started{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(84.43deg, #6237DA 13.3%, #9237DA 50.61%, rgba(55, 150, 218, 0.71) 87.91%);
    height: 300px;
    margin-top: 15rem;
}


footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: #2d323b;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.icons-sect > .fa-brands{
    margin-left: 1rem;
}

.icons-sect > .fa-brands:hover{
    cursor: pointer;
    color: #3E89F9;
}

