.signup-section {
    background: linear-gradient(180deg, rgba(130, 210, 236, 0) 26.56%, rgba(63, 193, 222, 0.26) 73.44%);
}

.brollo-login-image1 {
    position: absolute;
    left: 80px;
    bottom: 50px;
    z-index: -100;
    width: 42vh;
}

.brollo-login-image2 {
    position: absolute;
    right: 50px;
    bottom: 120px;
    z-index: -100;
    width: 60vh;
}