.Gear-Container {
    width: 400px;
    height: 90px;
    margin-left: 18rem;
    margin-top: 2.60rem;
    display: flex;
    justify-content: space-between;
}
.fa-gear {
    color: white;
    font-size: 3rem;
    margin-left: 25%;
    margin-top: 19%;
}
.Database-Project {
    position: absolute;
    margin-top: 20px;
    margin-right: 20px;
    font-weight: 500;
}
.Project-Gear {
    width: 100px;
    height: 100%;
    border-radius: 20px;
}
.First-Gear {
    background-color: #7e5555;
}
.Second-Gear {
    background-color: #4A86DF;
}
.Third-Gear {
    background-color: #4AB848;
}
