.Gear-Container {
    width: 400px;
    height: 90px;
    margin-left: 18rem;
    margin-top: 2.60rem;
    display: flex;
    justify-content: space-between;
}
.fa-gear {
    color: white;
    font-size: 3rem;
    margin-left: 25%;
    margin-top: 19%;
}
.Database-Project {
    position: absolute;
    margin-top: 20px;
    margin-right: 20px;
    font-weight: 500;
}
.Project-Gear {
    width: 100px;
    height: 100%;
    border-radius: 20px;
    z-index: 10;
    cursor: pointer;
}
.First-Gear {
    background-color: #7e5555;
}
.Second-Gear {
    background-color: #4A86DF;
}
.Third-Gear {
    background-color: #4AB848;
}
@media screen and (max-width: 1189px) {
    .Gear-Container {
        width: 400px;
        height: 90px;
        margin-left: 5rem;
        margin-top: 2.60rem;
        display: flex;
        justify-content: space-between;
    }
}
@media screen and (max-width: 1058px) {
    .Gear-Container {
        width: 400px;
        height: 90px;
        margin-left: 2.50rem;
        margin-top: 2.60rem;
        display: flex;
        justify-content: center;
    }
    .Project-Gear {
        width: 100px;
        height: 100%;
        border-radius: 20px;
        z-index: 10;
        cursor: pointer;
        margin-left: 30px;
    }
}
@media screen and (max-width: 893px) {
    .Gear-Container {
        width: 400px;
        height: 90px;
        margin-left: 2px;
        margin-top: 2.60rem;
        display: flex;
        justify-content: center;
    }
    .Project-Gear {
        width: 100px;
        height: 100%;
        border-radius: 20px;
        z-index: 10;
        cursor: pointer;
        margin-left: 30px;
    }
}