.Plus-Container {
    border-style: solid;
    border-color: #6EA7FA;
    border-width: thin;
    width: 100px;
    height: 90px;
    border-radius: 20px;
    margin-left: 1px;
    z-index: 20;
}
.add-project-btn{
    width: 98px;
    height: 90px;
    padding: 1rem;
    z-index: 10;
    cursor: pointer;
    position: absolute;
    border-style: none;
}
.fa-plus {
    color: #6EA7FA;
    font-size: 3rem;
    margin: 0;
}
.New-Project {
    position: absolute;
    margin-top: 20px;
    margin-right: 20px;
    font-weight: 500;
}
.SoloGear-Container {
    width: 450px;
    height: 90px;
    margin-left: 18rem;
    margin-top: 2.50rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3.40rem;
}
@media screen and (max-width: 1189px) {
    .Plus-Container {
        border-style: solid;
        border-color: #6EA7FA;
        border-width: thin;
        width: 100px;
        height: 90px;
        border-radius: 20px;
        margin-left: 1px;
        margin-top: 1px;
    }
    .SoloGear-Container {
        width: 490px;
        height: 90px;
        margin-left: 5rem;
        margin-top: 2.50rem;
        display: flex;
        flex-wrap: wrap;
        gap: 3.40rem;
    }
}
@media screen and (max-width: 1169px) {
    .Plus-Container {
        border-style: solid;
        border-color: #6EA7FA;
        border-width: thin;
        width: 100px;
        height: 90px;
        border-radius: 20px;
        margin-left: 1px;
        margin-top: 1px;
    }
    .SoloGear-Container {
        width: 490px;
        height: 90px;
        margin-left: 4.85rem;
        margin-top: 3rem;
        display: flex;
        flex-wrap: wrap;
        gap: 3.40rem;
    }
}
@media screen and (max-width: 1058px) {
    .Plus-Container {
        border-style: solid;
        border-color: #6EA7FA;
        border-width: thin;
        width: 100px;
        height: 90px;
        border-radius: 20px;
        margin-left: 1px;
        margin-top: 24px;
    }
    .SoloGear-Container {
        width: 450px;
        height: 145px;
        margin-left: 4.50rem;
        margin-top: 2.40rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1.80rem;
    }
}
@media screen and (max-width: 893px) {
    .Plus-Container {
        border-style: solid;
        border-color: #6EA7FA;
        border-width: thin;
        width: 100px;
        height: 90px;
        border-radius: 20px;
        margin-left: 1px;
        margin-top: 21px;
    }
    .SoloGear-Container {
        width: 450px;
        height: 90px;
        margin-left: 2.40rem;
        margin-top: 2.50rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1.50rem;
    }
}
@media screen and (max-width: 775px) {
    .Plus-Container {
        border-style: solid;
        border-color: #6EA7FA;
        border-width: thin;
        width: 100px;
        height: 90px;
        border-radius: 20px;
        margin-left: 14px;
        margin-top: 38px;
    }
    .SoloGear-Container {
        width: 500px;
        height: 150px;
        margin-left: 10.25rem;
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        gap: 13px;
    }
}
@media screen and (max-width: 585px) {
    .Plus-Container {
        border-style: solid;
        border-color: #6EA7FA;
        border-width: thin;
        width: 100px;
        height: 90px;
        border-radius: 20px;
        margin-left: 14px;
        margin-top: 38px;
    }
    .SoloGear-Container {
        width: 500px;
        height: 150px;
        margin-left: 5.50rem;
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        gap: 13px;
    }
}