.Plus-Container {
    border-style: solid;
    border-color: #6EA7FA;
    border-width: thin;
    width: 100px;
    height: 90px;
    border-radius: 20px;
    margin-left: 18rem;
    margin-top: 2.60rem;
}

.add-project-btn{
    width: 98px;
    height: 90px;
    padding: 1rem;
}

.add-project-btn:hover{
    cursor: pointer;
}

.add-project-btn i{
    color: #6EA7FA;
    font-size: 3rem;
    margin: 0;
}