.fa-gear {
    color: white;
    font-size: 3rem;
    margin-left: 27%;
    margin-top: 19%;
}
.Database-Project-SoloGear {
    position: absolute;
    margin-top: 20px;
    margin-right: 20px;
    font-weight: 500;
    width: 200px;
}
.Project-SoloGear {
    width: 100px;
    height: 90px;
    border-radius: 20px;
    z-index: 10;
    cursor: pointer;
    background-color: #7e5555;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media screen and (max-width: 1058px) {
    .Project-SoloGear {
        width: 100px;
        height: 90px;
        border-radius: 20px;
        z-index: 10;
        cursor: pointer;
        background-color: #7e5555;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-left: 1px;
        margin-top: 20px;
    }
}
@media screen and (max-width: 775px) {
    .Project-SoloGear {
        width: 100px;
        height: 90px;
        border-radius: 20px;
        z-index: 10;
        cursor: pointer;
        background-color: #7e5555;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-left: 1rem;
        margin-top: 35px;
    }
}